<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692646604525-3cb0hg4ae4b7t01amirhkdkrgieq7lnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692646604525-3cb0hg4ae4b7t01amirhkdkrgieq7lnc</string>
	<key>API_KEY</key>
	<string>AIzaSyBr6729XNNe2kZcExVpMqOaUu7s8z1wimA</string>
	<key>GCM_SENDER_ID</key>
	<string>692646604525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abay.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-a8ba8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-a8ba8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692646604525:ios:038b4b240e38038e73a6e4</string>
</dict>
</plist>